@model slowfy_backend.Models.FavouriteTracks

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FavouriteTracks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AddingUser" class="control-label"></label>
                <input asp-for="AddingUser" class="form-control" />
                <span asp-validation-for="AddingUser" class="text-danger"></span>
            </div>
                        <div class="form-group">
                            <label asp-for="TargetTrack" class="control-label"></label>
                            <input asp-for="TargetTrack" class="form-control" />
                            <span asp-validation-for="TargetTrack" class="text-danger"></span>
                        </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

